In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl

In [2]:
dic={
    "name":["fahad","akchhat","Tabish",None],
    "age":[20,None,21,20],
    "marks":[99,89,None,69]
}

In [3]:
df=pd.DataFrame(dic)

In [4]:
df

      name   age  marks
0    fahad  20.0   99.0
1  akchhat   NaN   89.0
2   Tabish  21.0    NaN
3     None  20.0   69.0

In [5]:
df.fillna({'age':df['age'].median(),'marks':df["marks"].mean()},inplace=True)

In [6]:
df=df.round(3)

In [7]:
df

      name   age   marks
0    fahad  20.0  99.000
1  akchhat  20.0  89.000
2   Tabish  21.0  85.667
3     None  20.0  69.000