In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.Series({
    "China": 1412,
    "India": 1400,
    "United States": 331,
    "Indonesia": 273,
    "Pakistan": 231,
    "Brazil": 214,
    "Nigeria": 206,
    "Bangladesh": 169,
    "Russia": 144,
    "Mexico": 126,
    "Japan": 125,
    "Ethiopia": 121,
    "Philippines": 113,
    "Egypt": 112,
    "Vietnam": 99
})

In [5]:
data.name="Population of some countries"

In [6]:
data

China            1412
India            1400
United States     331
Indonesia         273
Pakistan          231
Brazil            214
Nigeria           206
Bangladesh        169
Russia            144
Mexico            126
Japan             125
Ethiopia          121
Philippines       113
Egypt             112
Vietnam            99
Name: Population of some countries, dtype: int64

In [10]:
data.iloc[0]

np.int64(1412)

In [11]:
data["India"]

np.int64(1400)

In [12]:
data["India":"Egypt"]

India            1400
United States     331
Indonesia         273
Pakistan          231
Brazil            214
Nigeria           206
Bangladesh        169
Russia            144
Mexico            126
Japan             125
Ethiopia          121
Philippines       113
Egypt             112
Name: Population of some countries, dtype: int64

In [13]:
data.head(5)

China            1412
India            1400
United States     331
Indonesia         273
Pakistan          231
Name: Population of some countries, dtype: int64

In [14]:
data.tail(5)

Japan          125
Ethiopia       121
Philippines    113
Egypt          112
Vietnam         99
Name: Population of some countries, dtype: int64

In [15]:
data.describe

<bound method NDFrame.describe of China            1412
India            1400
United States     331
Indonesia         273
Pakistan          231
Brazil            214
Nigeria           206
Bangladesh        169
Russia            144
Mexico            126
Japan             125
Ethiopia          121
Philippines       113
Egypt             112
Vietnam            99
Name: Population of some countries, dtype: int64>

In [16]:
data.info

<bound method Series.info of China            1412
India            1400
United States     331
Indonesia         273
Pakistan          231
Brazil            214
Nigeria           206
Bangladesh        169
Russia            144
Mexico            126
Japan             125
Ethiopia          121
Philippines       113
Egypt             112
Vietnam            99
Name: Population of some countries, dtype: int64>

In [17]:
data.mean()

np.float64(338.4)

In [20]:
data_dic= {
    "Country": [
        "China", "India", "United States", "Indonesia", "Pakistan",
        "Brazil", "Nigeria", "Bangladesh", "Russia", "Mexico",
        "Japan", "Ethiopia", "Philippines", "Egypt", "Vietnam"
    ],
    "Population (millions)": [
        1412, 1400, 331, 273, 231,
        214, 206, 169, 144, 126,
        125, 121, 113, 112, 99
    ]
}

In [22]:
df=pd.DataFrame(data_dic)

In [23]:
df

          Country  Population (millions)
0           China                   1412
1           India                   1400
2   United States                    331
3       Indonesia                    273
4        Pakistan                    231
5          Brazil                    214
6         Nigeria                    206
7      Bangladesh                    169
8          Russia                    144
9          Mexico                    126
10          Japan                    125
11       Ethiopia                    121
12    Philippines                    113
13          Egypt                    112
14        Vietnam                     99

In [25]:
df.to_excel("sampleDataFrameEx.xlsx",index=False)

In [26]:
data>200

China             True
India             True
United States     True
Indonesia         True
Pakistan          True
Brazil            True
Nigeria           True
Bangladesh       False
Russia           False
Mexico           False
Japan            False
Ethiopia         False
Philippines      False
Egypt            False
Vietnam          False
Name: Population of some countries, dtype: bool